<body>
  <ul>
  <div id="universe">
      <h2><li>Group 1</li></h2>
        <ul>
          <li>one</li>
          <li>two</li>
          <li>three</li>
        </ul>
      <h2><li>Group 2</li></h2>
        <ul>
          <li>fifty</li>
          <li>Sixty</li>
          <li>seventy</li>
        </ul>
      <h2><li>Group 3</li></h2>
        <ul>
          <li>hundred</li>
          <li>three hundred</li>
          <li>four hundred</li>
        </ul>
    </div>
  </ul>

<script src="jquery-2.1.3.js"></script>
<script src="jquery-ui.js"></script>
<script>
    $(function() {
      $('#universe').accordion();
    });
</script>
</body>
