<!DOCTYPE html>
  <head>
    <title>Mad Max</title>
    <link rel="stylesheet" media="screen" type="text/css" href="/css/main.css"
  </head>
  <body>
    <header>
      <h1>Mad Max</h1>
      <p>Mad Max IT</p>
    </header>
    <nav>
      <p>Watch out for MasterBlaster</p>
      <p>Put some links here</p>
      <p>Welcome your ip is <%= client_ip %>

    </nav>
    <section>
      <%= yield %>
    </section>
  </body>
